/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: black;
    background-image: url('../images/loading.gif!w340');
    background-position: center;
    background-repeat: no-repeat;
}
.ianimate{
    /* transform: translateX(100px); */
    opacity: 0;
    transition: opacity 150ms ease-in;
}

.ianimate.show{
    /* transform: translateX(0); */
    opacity: 1;
}
#go-up{
    width: 35px;
    height: auto;
    position: absolute;
    top: 196vh;
    right: 0px;
}
#go-up a{
    color: black;
}
#main{
    width: 100wh;
    height: 90vh;
    background-image: url("../images/newspaper.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid black;
}

.wrapper{
    width: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.btnDiv{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;

}

.search-div{
    display: flex;
    justify-content: center;
}
.article-div{
    opacity: 0.4;
}
.url-div{
 display: none;  

}

#article-id{
    border: none;
    outline: none;
    opacity: 1;
}
.btnDiv button{
   border: none;
   outline: none;
   border-radius: 3px;
   padding: 10px;
   border-radius: 10%;
   opacity: 0.6;
}

input[type="submit"]{
    position: relative;
    left: 45%;
}

#about{
    margin: 30px 5px;
    background-color: whitesmoke;
}

/* #teams{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    //flex-wrap: wrap;
} */
.team-wrapper{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: center;
    font-family: 'Luxurious Roman', cursive;
}

.about-para{
    font-family: 'Amiri', serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 30px;
}

.team-member{
    position: relative;
    border: 1px solid black;
    width: 25%;
    height: 350px;
    margin: 0 15px;
}
h6{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.tm-photo{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

img{
    width: 80%;
    height: 250px;
    border-radius: 50%;
    
}

.socio-link{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.socio-link a{
    color: black;
}
.footer{
    background-color: rgb(56, 58, 56);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer p{
    color: white;  
}

